# =====================

# ENVIRONMENT / SECRETS

# =====================

.env
*.env
.env.*
*.log

# =====================

# PYTHON / DJANGO

# =====================

**pycache**/
*.py[cod]
db.sqlite3

# Django media & static files

media/
staticfiles/
medico backend/media/

# =====================

# DATASETS

# =====================

datasets/
medico backend/datasets/

# =====================

# VIRTUAL ENVIRONMENTS

# =====================

venv/
env/

# =====================

# NODE / ANGULAR

# =====================

node_modules/
.angular/
dist/

# =====================

# IDE / SYSTEM

# =====================

.vscode/
.idea/
.DS_Store
Thumbs.db
