<!-- Search input -->
<nb-card>
  <nb-card-header>Search Community</nb-card-header>
  <nb-card-body>
    <input
      nbInput
      fullWidth
      placeholder="Search community..."
      (input)="onSearch($event.target.value)"
    />
  </nb-card-body>
</nb-card>

<!-- Community Users Cards -->
<div class="row mt-3">
  <div class="col-xxxl-3 col-md-6" *ngFor="let user of filteredUsers">
    <ngx-status-card [title]="user.username" [type]="'info'">
      <i class="nb-person"></i>
      <div class="role">{{ user.role }}</div>
      <button nbButton status="success" size="tiny" (click)="connect(user.id)">Connect</button>
    </ngx-status-card>
  </div>
</div>
